
// container review
.news-container {
    @include flex-col(3);
    border-radius: 8px;
    border-left: 1px solid $secondary-03;
}

.card-news {
    background: $primary-white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &__container-img {
        width: 100%;
    }
    img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &__container-text {
        padding-left: rem(24);
    }
    &__category {
        margin: 0;
        padding: rem(8) rem(16);
        background: $secondary-03;
        transform: translate(0, -50%);
        display: inline-block;
        border-radius: 8px;
        text-transform: uppercase;
        color: $primary-white;
        font-family: $font-secondary;
        font-weight: 700;
    }
    &__date {
        color: $gray-01;
        margin: rem(16) 0;
        font-family: $font-primary;
    }
    &__links {
        margin: rem(16) 0 rem(32) 0;
        display: inline-block;
    }


}
