
// container review
.news-container {
    @include flex-col(3);
}

.card-news {
    background: $primary-white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &__category {
        padding: 5px 10px;
        background: $secondary-03;
    }
}
