.link {
    color : $secondary-01;
    font-family : 'Ubuntu';
    cursor : pointer;
    text-decoration : none;
    @include transition(250ms, ease);
    &:hover {
        text-decoration : underline;
    }
}

