%num-list-style {
    color: $secondary-01;
    font-weight: 700;
    font-family: $font-primary;
    @include font-size(rem(16), rem(25));


}

ol li {
    &:before {
       @extend %num-list-style;
    }
}