.primary-list {
    counter-reset: li;
}

.li {

    &--decimal {

        &::before {
            content: "0"counter(li)".";
            color: $secondary-01;
            font-weight: 700;
            margin-right: 0.5rem;
        }
        line-height : 2rem;
        counter-increment : li;
    }

    &--dots {

        &::before {
            content: "•";
            color: $secondary-01;
            margin-right: 0.5rem;
            font-size: 1rem;
            vertical-align: bottom;
        }

        line-height : 2rem;
    }

}