%num-list-style {
    color: $secondary-01;
    font-weight: 700;
    font-family: $font-primary;
    @include font-size(rem(16), rem(25));


}

ol {
    list-style-type : none;
    counter-reset : compteur;
}

ol li {
    counter-increment : compteur;
    &:before {
        margin-right : (rem(1));
        content : counter(compteur) ")";
        @extend %num-list-style;
    }
}